html {
  background-color: #FFFFF0;
  font-family: 'Open Sans', sans-serif;
}

div.content-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

div.content-header {
  width: 100%;
  height: 17%;
  min-height: 17%;
  background-color: #36393F;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
  font-family: 'Raleway', sans-serif;
}

h1.title {
  color: #FFF;
  font-family: 'Raleway', sans-serif;
  font-size: 44px;
}

div.countdown-header {
  width: 50vw;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0;
}

p.countdown-header-time {
  font-size: 24px;
  font-weight: bold;
  color: #FFF;
  text-align: center;
  margin: 0;
}

p.countdown-header-label {
  font-size: 14px;
  font-weight: 400;
  color: #FFF;
  text-align: center;
  margin: 0;
}

div.questions {
  margin: 0;
  padding: 50px 30%;
  width: 40%;
  overflow-y: scroll;
}

div.question-wrapper {
  margin: 25px 0;
  display: flex;
  flex-direction: row;
}

input.question-selected {
  margin: 6px 10px 0 0;
}

p.question {
  font-size: 18px;
  margin: 0;
  flex: 1 1 auto;
}

::-webkit-scrollbar {
  display: none;
}
