body {
  overflow-y: scroll;
}

div.container {
  justify-content: flex-start;
}

h1.title {
  margin-top: 50px;
  font-size: 32px;
}

p.info {
  font-family: inherit;
  font-size: 16px;
}

div.sop-grid {
  margin: 50px 10% 0 10%;
  display: grid;
  width: 100%;
  grid-template-columns: 25% 25% 25% 25%;
}

button.sop-option {
  font-family: inherit;
  font-size: 14px;
  background-color: transparent;
  color: #000;
  border: 1px solid #000;
  border-radius: 5px;
  margin: 10%;
  height: 50px;
}
