/* Media Query Selector for Mobile Screens to Display Data */
@media only screen and (max-device-width: 480px) {

  body { height: auto; overflow-y: scroll; }

  div.content-header {
    height: 60px;
  }

  div.content-container {
    height: auto;
    top: 60px;
    display: flex;
    flex-direction: column;
  }

  h1.header {
    font-size: 12px;
  }

  div.left-wrapper {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    flex-direction: column;
    height: 50vh;
    width: 100%;
  }

  div.average-data {
    height: 100%;
    width: 100%;
  }

  div.right-wrapper {
    width: 100%;
    height: 120vh;
  }

  div.top-wrapper {
    flex-direction: column;
    height: 100vh;
  }

  div.table-wrapper {
    width: auto;
    height: 50%;
    margin-right: 6%;
  }

  div.top-graph-wrapper {
    width: 100%;
    height: 50%;
  }

  div.bottom-wrapper {
    height: 50vh;
  }

}
