html {
  background-color: #FFFFF0;
}

body { height: 100%; overflow: hidden; }

div.content-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}

div.content-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 120px;
  background-color: #36393F;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

div.content-container {
  position: relative;
  top: 120px;
  width: 100%;
  height: calc(100% - 120px - 30px);
  display: flex;
  flex-direction: row;
}

::-webkit-scrollbar {
  display: none;
}

h1.header {
  margin: 0;
  color: #FFF;
  font-family: inherit;
  font-size: 34px;
}

p.header {
  margin: 0;
  color: #FFF;
  font-family: inherit;
  font-size: 20px;
  font-weight: bold;
}

div.main-top-wrapper {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

div.main-top-cell {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p.main-calc {
  margin: 0 auto 25px auto;
  font-size: 200px;
  font-weight: bold;
}

p.main-calc-sub {
  font-size: 108px;
  font-weight: bold;
  margin: 0 auto 25px auto;
}

span.main-percent-change {
  font-size: 0.2em;
}

p.main-label-CH {
  margin: 0;
  font-size: 32px;
  font-weight: bold;
}

p.main-label-EN {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

div.main-bottom-wrapper {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

div.main-bottom-cell {
  width: calc(100% / 6);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p.main-bottom-calc {
  margin: 0 auto 25px auto;
  font-size: 96px;
  font-weight: bold;
}

p.main-bottom-label-CH {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

p.main-bottom-label-EN {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}

div.left-wrapper {
  width: 15%;
  height: 96%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

div.average-data {
  width: 100%;
  height: calc(100% / 6);
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p.calc {
  width: 90%;
  font-weight: bold;
  font-size: 44px;
  margin: auto 0 5px 0;
  text-align: center;
}

p.label {
  width: 90%;
  height: 25%;
  font-weight: 500;
  font-size: 12px;
  margin: 0;
  text-align: center;
}

div.right-wrapper {
  width: 85%;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

div.top-wrapper {
  width: 100%;
  height: 50%;
  margin: 0;
  display: flex;
  flex-direction: row;
}

div.table-wrapper {
  width: 30%;
  height: 100%;
  overflow: scroll;
  margin: 20px 0;
  display: flex;
}

div.top-graph-wrapper {
  width: 70%;
  height: 100%;
  margin: 2%;
}

div.bottom-wrapper {
  width: 100%;
  height: 50%;
  margin: 0;
}

div.bottom-graph-wrapper {
  width: 100%;
  height: 100%;
  margin: 2%;
}

table.sunday-attendance-data {
  width: 100%;
  margin: 0;
}

tr.header {
  width: 100%;
}

th.date {
  width: 25%;
}

th.value {
  width: 25%;
}

td.data {
  text-align: center;
}
