html { font-family: 'Montserrat', sans-serif; }

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding-top: 10vh;
  background-color: #2A2A2A;
  overflow: hidden;
}

div.wrapper {
  width: 100%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-image: url('background.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

div.text-container {
  height: 100vh;
  width: 100vh;
  display: flex;
  position: absolute;
  justify-content: center;
}

p.section-label-top {
  color: #2A2A2A;
  font-weight: bold;
  text-align: center;
  font-size: 1.25em;
  margin: 0;
  margin-top: 12vh;
}

p.section-label-bottom {
  color: #2A2A2A;
  font-weight: bold;
  text-align: center;
  font-size: 1.25em;
  margin: 0;
  margin-top: auto;
  margin-bottom: 12vh;
}

div.text-container#k6 { transform: rotate(60deg); }

div.text-container#mH { transform: rotate(-60deg); }

div.text-container#pnt { transform: rotate(60deg); }

div.text-container#vnt { transform: rotate(-60deg); }

div.icounter {
  height: 22vh;
  width: 22vh;
  display: flex;
  position: absolute;
  justify-content: center;
}

p.icounter-top {
  color: #FFF;
  font-size: 0.5em;
  text-align: center;
  margin: 0;
}

p.icounter-bottom {
  color: #FFF;
  font-size: 0.5em;
  text-align: center;
  margin: 0;
  margin-top: auto;
}

div.icounter#k6-counter { transform: rotate(60deg); }

div.icounter#mH-counter { transform: rotate(-60deg); }

div.icounter#pnt-counter { transform: rotate(60deg); }

div.icounter#vnt-counter { transform: rotate(-60deg); }

div.counter-container {
  height: 25vh;
  width: 25vh;
  border-radius: 50%;
  background-color: transparent;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
}

h1.head-count {
  color: #FFF;
  margin: 0;
}

p.head-count-label {
  color: #FFF;
  margin: 0;
  font-size: 0.65em;
}
