html {
  background-color: #FFFFF0;
}

body { height: 100%; overflow: hidden; }

div.content-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}

div.content-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 120px;
  background-color: #36393F;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

div.content-container {
  position: relative;
  top: 120px;
  width: 100%;
  height: calc(100% - 120px - 30px);
  display: flex;
  flex-direction: column;
}

::-webkit-scrollbar {
  display: none;
}

h1.header {
  margin: 0;
  color: #FFF;
  font-family: inherit;
  font-size: 24px;
}

div.top-wrapper {
  width: 100%;
  height: 50%;
  margin: 0;
  display: flex;
  flex-direction: row;
}

div.average-wrapper {
  width: 20%;
  height: 100%;
  overflow: hidden;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
}

div.average-data {
  width: 100%;
  height: 33%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p.calc {
  width: 90%;
  font-weight: bold;
  font-size: 44px;
  margin: auto 0 5px 0;
  text-align: center;
}

p.label {
  width: 90%;
  height: 25%;
  font-weight: 500;
  font-size: 12px;
  margin: 0;
  text-align: center;
}

div.table-wrapper {
  width: 20%;
  height: 100%;
  overflow: scroll;
  margin: 20px 0;
  display: flex;
}

div.top-graph-wrapper {
  width: 60%;
  height: 100%;
  margin: 2%;
}

div.bottom-wrapper {
  width: 100%;
  height: 50%;
  margin: 0;
}

div.bottom-graph-wrapper {
  width: 100%;
  height: 100%;
  margin: 2%;
}

table.sunday-attendance-data {
  width: 100%;
  margin: 0;
}

tr.header {
  width: 100%;
}

th.date {
  width: 50%;
}

th.value {
  width: 25%;
}

td.data {
  text-align: center;
}
